@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}


/* PhonotacticCalculator.css */

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}

.buttonGroup {
  display: flex;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.buttonActive {
  color: white;
}

.calculateButton {
  padding: 10px 20px;
  margin-top: 20px;
  align-self: flex-end;
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.button,
.calculateButton {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}

.button:hover,
.calculateButton:hover,
.legendButton:hover,
.detailsButton:hover {
  background-color: #43a047;


}

.charField {
  width: 30px;
  text-align: center;
  margin: 5px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

.characterInputs {
  display: flex;
  flex-direction: row;

}

.charForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: auto;
  max-width: 20em;
}

.inputField,
.charField,
.button,
.calculateButton {
  font-family: "Courier New", Courier, monospace;
}

input,
button {
  max-width: 100%;
}

.ipaForm {
  margin-top: 2em;
}


.hidden {
  display: none;
}

.legendPopup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1001;
  transition: left 0.3s ease;
  overflow-y: auto;

}

.legendButton {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  z-index: 1002;
}

.legendActive {
  max-width: calc(100% - 320px);
  margin-right: 320px;
  transition: margin 0.3s ease;
}

.link-legend,
.custom-link {
  color: #43a047;
  text-decoration: none;
}

/* .ipaField ul {
  list-style: "📋"
} */


.ipaExample {
  font-style: italic;
}

.ipaField .highlightDifferent {
  color: #2d7e30;
}

.ipaItem div {
  display: flex;
  margin: 10px;
  gap: 5px;

}

.copyButton {
  background: none;
  border: none;
  border-bottom: 1px solid #43a047;
  font-size: small;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  margin-right: 5px;
  background-color: white;
}

.copyButton:hover {
  border: 1px solid #43a047;
}

.detailsButton {

  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: #4caf50;
  color: white;
  z-index: 1002;
  cursor: pointer;
  font-size: small;
  text-align: center;
  font-family: "Courier New", Courier, monospace;

}

.ipaDetails {
  padding-left: 15px;
  display: inline-block !important;
  margin: 0 !important;
}

@media (max-width: 500px) {
  .button {
    margin-bottom: 5px;
  }

  button {
    width: calc(100% - 10px);
    margin: 0 5px;
  }

  .copyButton {
    width: auto;
  }

  .inputField {
    width: calc(100% - 10px);
  }

  .characterInputs {
    flex-direction: column;

  }

  .legendPopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    z-index: 1001;
    margin: 0;
    transform: none;

  }

  .legendButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1002;
  }


}